@media screen and (max-width:672px) {
    body {
        display:flex;
        flex-wrap: wrap-reverse;
        margin:0;
        padding:0;
    }
    #main {
        width:auto;
    }
    .entry_preview {
        display:block;
        width:auto;
        height:auto;
        padding-bottom:0;
        margin-bottom: 10px;
    }
    .entry_preview .thumb {
        float:left;
        max-width: 50%;
        margin-right:5px;
    }
    .entry_preview {
        border-bottom: 1px dotted #666;
        width:100%;
    }
    .entry_preview .thumb, .entry_preview img {
    border-bottom:none;
}

}
